api.khlug.org {
	reverse_proxy {
		dynamic srv {
			name nestjs-backend.sight.prod
			refresh 10s
		}
	}
}

v2.khlug.org,
developers.khlug.org,
hello.khlug.org,
inventory.khlug.org,
inven.khlug.org,
library.khlug.org,
lib.khlug.org {
	reverse_proxy {
		dynamic srv {
			name laravel-backend.sight.prod
			refresh 10s
		}
	}
}
