api.khlug.org {
	reverse_proxy {
		dynamic srv {
			name nestjs-backend.sight.prod
			refresh 10s
		}
	}
}

v2.khlug.org {
	reverse_proxy {
		dynamic srv {
			name laravel-backend.sight.prod
			refresh 10s
		}
	}
}
