{
	email we_are@khlug.org

	# LetsEncrypt 테스트용 ACME CA
	# 실제 배포 시 아래 라인을 주석 처리해주세요.
	# @see https://caddyserver.com/docs/caddyfile/options#acme-ca
	acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
}

api.khlug.org {
	reverse_proxy {
		dynamic srv {
			name nestjs-backend.sight.prod
			refresh 10s
		}
	}
}

v2.khlug.org,
hello.khlug.org,
inventory.khlug.org,
inven.khlug.org,
library.khlug.org,
lib.khlug.org {
	reverse_proxy {
		dynamic srv {
			name laravel-backend.sight.prod
			refresh 10s
		}
	}
}
